.topbar {
    position: absolute;
    height: 6%;
    width: 100%;
    top: 0%;
    left: 0%;

    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgba(77, 50, 151, 0.3);
    overflow: hidden;
    white-space: nowrap;

    font-size: 180%;
    word-spacing: 130px;
    letter-spacing: 5px;
    font-family: cursive;
    text-decoration: none;

    animation-delay: 0s;
}

/*Mobile*/
@media only screen and (min-width: 896px) {
    [class*="topbar"]   {
        letter-spacing: 2px;
        word-spacing: 80px;
        font-size: 80%;
        height: 3%;
    }
}

/*Tablets*/
@media only screen and (min-width: 1366px) {
    [class*="topbar"]   {
        letter-spacing: 2px;
        word-spacing: 115px;
        font-size: 120%;
        height: 4%;
    }
}

/*Desktop*/
@media only screen and (min-width: 1920px) {
    [class*="topbar"]   {
        position: absolute;
        height: 6%;
        width: 100%;
        top: 0%;
        left: 0%;
        font-size: 180%;

        word-spacing: 130px;
        letter-spacing: 5px;

    }
}

a {
    font-family: cursive;
    text-decoration: none;
    color:  rgb(127, 255, 212);
}

a.homepage {
    word-spacing: 2px;
    animation-delay: 1s;
}

a.about {
    word-spacing: 2px;
    animation-delay: 1.2s;

}

a.works {
    animation-delay: 1.4s;

}

a.resume {
    animation-delay: 1.6s;
}

a.ci {
    word-spacing: 2px;
    animation-delay: 1.8s;
}

a.references {
    animation-delay: 2s;
}

.lab2 {
    position: absolute;
    height: auto;   
    width: 20%;
    top: 30%;
    left: 5%;

}

.lab3 {
    position: absolute;
    height: auto;
    width: 20%;
    top: 30%;
    left: 35%;
}

.lab4 {
    position: absolute;
    height: auto;
    width: 32%;
    top: 32%;
    left: 62%;
}


